#answer.fill-ups {
    line-height: 1.2;
    border: none; 
    border-bottom: 1px solid #757575;
    width: 150px;
    text-align:center;
    outline-color: blue;
    color: teal;
}

.form-control {
    width:550px;
}

.button-right {
	float: right;
}

.next {
	float: right;
}

.form-control{
    width:550px;
}

.fill-ups-error {
	border-bottom: 1px solid #721c24;
}
.categorical.correct{
 color: orange;
}

.correct {
 color: green;
}

.wrong {
 color: red;
}

.writeup{
    resize: none;
    width: 600px;
    margin-left: 25px;
}

.sort{
    column-count: 5;
    list-style-type: none;
}